body{
    margin: 0px;
    font-family: Roboto;
    font-weight: 300;
    background-color: whiteSmoke;
}
.tile{
    border-style: solid;
    border-color: PaleGoldenRod;
    background-color: LightGoldenRodYellow;
    border-width: 2px;
    width: 50px;
    height: 75px;
    box-sizing: border-box;
    border-radius: 2px;
    margin: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    display: inline-block;
}
.tile:hover{
    opacity: .75;
    cursor: pointer;
}
.tileName{
    -webkit-user-select: inherit;
    -moz-user-select: none;
    font-size: 2em;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: PaleGoldenRod;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin: 7% auto 0;
}
.gameName{
    -webkit-user-select:inherit;
    -moz-user-select: none;
    color: PaleGoldenRod;
    font-size: .5em;
    text-align: center;
    vertical-align: bottom;
    margin-top: 10px;
}
.game{
    padding: 10px;
    margin: 0 auto 0 auto;
    width: 85%;
}
.red{
    color:  #f44336;
    stroke:  #f44336;
}
.blue{
    color: #2196f3;
    stroke: #2196f3;

}
.orange{
    color:  #ff9800;
    stroke:  #ff9800;

}
.black{
    color: black;
    stroke: black;
}

.hand{
    margin: 10px 0 10px 0;
    background-color: white;
    padding: 10px;
}
.hand > .tile{
    display: inline-block;
}
button{
    border: none;
    color: white;
    background-color:  #42a5f5;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 5px 0 5px;
}
#gameBoard{
    min-height: 500px;
    background-color: white;
    padding: 10px;
}
#infoBar{
    background-color:  #2196f3;
    font-family: sans-serif;
    color: white;
    padding: 15px;
}
.infoBarButton{
    float: right;
    vertical-align: top;
}
.inputButton{
    height: 26px;
}
.inputButton > *{
    height: 100%;
    box-sizing: border-box;
}
.title{
    font-size: 24px;
    margin: 0px;
    display: inline;
}
.joker{
    width: 100%;
    stroke-width: 15px;
}
.set{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.addSet{
    padding: 0px 5px 0px 5px;
}
.newSet{
    cursor: pointer;
    padding: 10px 0 10px 0;
}
.startGameForm{
    width: 85%;
    margin: 0 auto 0 auto;
    text-align: center;
}
